body{
    color:aqua;
    background-color:brown
}

p{
    text-align: center;
}

h1{
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link{
    text-align: center;
}